[user]
  name = melch
  email = melch@procore.com
[core]
  editor = vim
  whitespace = tab-in-indent
[pull]
  rebase = true # I use git smart-pull, so this default doesn't really matter
[push]
  default = upstream
[color]
  ui = always
